h1{
    font-size: 12vh;
    color: rgb(51 116 255);
    margin-top: 33vh;
    margin-left: 25vh;
    font-weight: bolder;
}

.input text{
    width: 100%;
    padding: 12px;
    margin: 8px ;
    display: grid;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button{
    margin-top: 10px;
    margin-left: -2vh;
    background-color: rgb(51 116 255);
    width: 110%;
    padding: 10px;
    border-radius: 7px;
}

h4{
    font-size: 27px;
    font-family: sans-serif;
    font-weight: lighter;
    margin-top: -8vh;
    margin-left: 25vh;

}


.main{
    height: 250px;
    width: 300px;
    background-color: white;
    margin-left: 130vh;
    margin-top: -40vh;
    padding: 40px;
    border: 4px solid rgb(255, 255, 255);
    text-align: left;
    border-radius: 10px;
}   

body{
    background-color: #f3f3f6;
}



.input{
    margin-bottom: 20px;
}

.input label{
    font-size: 20px;
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 0vh;
}

.input input{
    width: 100%;
    padding:12px;
    
    
}

.button button{
    color: white;
    font-weight: bolder;
    font-size: medium;
    font-family: sans-serif;
    width: 107%;
    padding: 10px;
    background-color: #0866ff;
    border-radius: 10px;
    margin-left: 0vh;
    /*border-bottom: 7px solid black;
    border-right: 4px solid black;*/
}

.new button{
    color: white;
    font-weight: bolder;
    font-size: smaller;
    font-family: sans-serif;
    width: 53%;
    padding: 10px;
    background-color: #42b72a;
    border-radius: 10px;
    margin-left: 16vh;
}

.Frgt a{
    color: rgb(0, 136, 255);
    text-decoration: none; 
    text-align: center; 
    margin-left: 95px;
    margin-top: 4px;
}

.createpage{
    margin-top: 75px;
    font-size: 15px;
    font-weight: 3px;
}

/*.main{
    height: 250px;
    width: 200px;
    background-color: cadetblue;
    margin-left: 70vh;
    margin-top: 20vh;
    padding: 20px;
    border: 4px solid blue;
    text-align: left;
}*/

@media screen and (max-width : 600px) {
    
}
