body{
    background-color: #ececec;
}

.image img{
    height: 570px;
    width: 550px;
    margin-left: 550px;
}

h1{
    font-family: monospace;
    font-size: 36px;
    margin-top: 20px;

}

h4{
    font-size: small;
    font-family: monospace;
    color: #868686 ;
    margin-top: -25px;
}

.main{
    height: 450px;
    width: 470px;
    /*background-color: #ececec;*/
    margin-left: 40vh;
    margin-top: -90vh;
    padding: 20px;
    text-align: left;
}

.input{
    margin-bottom: 20px;
}

.input label{
    font-size: 20px;
    display: block;
    font-family: monospace;
    margin-top: 5vh;
}

.input input{
    width: 50%;
    padding:7px ;
    border-radius: 10px;
    border-color: gainsboro;
}

.checkbox a{
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-size: 13px;
    font-family: monospace;
}

.button button{
    font-family: monospace;
    color: white;
    width: 55%;
    padding: 10px;
    background-color: #ff5252;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -1vh;
    /*border-bottom: 7px solid black;
    border-right: 4px solid black;*/
}

.button2 button{
    font-family: monospace;
    color: black;
    width: 55%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: -1vh;
    background-color: white;
}

.google img{
    height: 35px;
    margin-left: 10px;
}

.google{
    margin-top: -37px;
}

.createpage a{
    text-decoration: none;
    color: #ff5252;
}